body{
    front-family: Arial, sans-serif;
    front-size: 18px;
}
header, footer{
    background-color: #f0f0f0;
    padding: 15px;
}
.site-title{
    color: red;
}
#my-image{
    box-shadow: 0 0 2px 1px;
}
ul{
    list-style-type: square;
}
ul li:nth-child(odd){
    background-color: #e9e9e9;
    padding: 5px;
}
nav ul{
    list-style: none;
    padding: 0;
}

nav a{
    text-decoration: none;
    background-color: white;
    border: 1px solid #333;
    padding: 8px 12px;
    display: inline-block;
}

nav a:hover,
nav a:hover{
    background-color: #ddd;
}